ul {
	padding: 0;
	list-style-type: none;
}
#searchbar {
	margin-top: 20px;
	margin-bottom: 20px;
}

#user-avatar {
	width: 50%;
	float: right;
}

#follower-avatar {
	width: 20%;
}

input {
	margin-right: 5px;
}